@using Sosyal_Kutuphane.Services
@model List<Sosyal_Kutuphane.Models.UserMedia>

@if (Model.Count == 0)
{
    <p class="text-muted">No items in this list.</p>
}
else
{
    <div class="row">
            
            @inject GoogleBooksService Gbooks;
            @inject TmdbService Tmdb;

            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-3">
                    <div class="card shadow-sm">
                        

                        <div class="card-body">
                            @{
                                switch (item.MediaType)
                                {
                                    case "movie":
                                    {
                                        var itemName = await Tmdb.GetMovieTitle(item.MediaId);
                                        <a  href="/Media/MovieDetails/@item.MediaId"
                                            class="text-decoration-none">@itemName</a>
                                        break;
                                    }
                                    case "book":
                                    {
                                        var itemName = await Gbooks.GetBookTitle(item.MediaId);
                                        <a href="/Media/BookDetails/@item.MediaId" 
                                           class="text-decoration-none ">@itemName</a>
                                        break;
                                    }
                                }
                                <br/>
                                var type = item.MediaType == "movie" ? "Movie" : "Book";
                                <small class="text-muted">@type</small>
                            }
                        </div>

                    </div>
                </div>
            }
        </div>
}