@model Newtonsoft.Json.Linq.JObject

<h2>Book Search Results</h2>

@if (Model["items"] == null)
{
<p>No books found.</p>
}
else
{
<div class="row">
    @foreach (var b in Model["items"])
    {
    var info = b["volumeInfo"];
    var img = info["imageLinks"]?["thumbnail"];

    <div class="col-md-3 mb-4">
        <div class="card shadow">
            <img src="@img" class="card-img-top" />

            <div class="card-body">
                <h5 class="card-title">@info["title"]</h5>

                <a class="btn btn-sm btn-primary"
                   href="/Media/BookDetails/@b["id"]">
                    Details
                </a>
            </div>
        </div>
    </div>
    }
</div>
}
