@model Newtonsoft.Json.Linq.JObject

<h2>Movie Search Results</h2>

@if (Model["results"].Count() == 0)
{
    <p>No movies found.</p>
}
else
{
    <div class="row">
        @foreach (var m in Model["results"])
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <img src="@($"https://image.tmdb.org/t/p/w500{m["poster_path"]}")" class="card-img-top" />

                    <div class="card-body">
                        <h5 class="card-title">@m["title"]</h5>

                        <a class="btn btn-sm btn-primary"
                           href="/Media/MovieDetails/@m["id"]">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}