@{
    Layout = "_AuthLayout";
}

<div class="card shadow p-4">
    <h3 class="text-center mb-3">Reset Password</h3>

    <form method="post">
        <input type="hidden" name="uid" value="@ViewBag.UserId" />
        <input type="hidden" name="token" value="@ViewBag.Token" />

        <input class="form-control mb-3" type="password" name="password" placeholder="New Password" required />
        <input class="form-control mb-3" type="password" name="confirmPassword" placeholder="Confirm Password" required />

        <button class="btn btn-success w-100">Reset Password</button>

        <p class="text-danger mt-3">@ViewBag.Error</p>
        <p class="text-success mt-3">@ViewBag.Success</p>
    </form>
</div>